<main class="list-vacancies">
  <h2>Vacancies List</h2>

  {{#if vacancies.length}}
    {{#each vacancies}}
      <div class="vacant">
        <div class="box">
          <h3>{{company}}</h3>
          <p class="job-title">
            {{title}}
          </p>
        </div>
        <div class="box">
          <p class="label">Location</p>
          <p class="name">{{location}}</p>
        </div>
        <div class="box">
          <p class="label">Contract</p>
          <p class="name contract">{{contract}}</p>
        </div>
        <div class="box center-vertical">
          <a href="/vacancies/{{url}}" class="btn btn-green">More information</a>
        </div>
      </div>{{!-- Vacant  --}}
    {{/each}}
  {{else}}
    <p>No vacancies found</p>
  {{/if}}
</main>