<main class="list-vacancies">
  <h2>Navigation</h2>
  <div class="buttons separator">
    <a href="/edit-profile" class="btn btn-blue">Edit Profile</a>
    <a href="/vacancies/new" class="btn btn-green">New Vacancies</a>
  </div>

  <h2>Vacancies published</h2>

  {{#if vacancies.length}}
    {{#each vacancies}}
      <div class="vacancy administration-panel">
        <div class="box">
          <h3>{{company}}</h3>
          <p class="job-title">{{title}}</p>
        </div>
        <div class="center-vertical box">
          <a href="/candidates/{{id}}" class="btn btn-yellow">Candidates</a>
        </div>
        <div class="center-vertical box">
          <a href="/vacancies/edit/{{url}}" class="btn btn-green">Edit</a>
        </div>
        <div class="center-vertical box">
          <a href="#" data-delete={{id}} class="btn btn-red">Delete</a>
        </div>
      </div>
    {{/each}}
  {{else}}
    <p>No vacancies published</p>
  {{/if}}
</main>