<div class="content-superior vacancy container">
  <div class="box">
    <p class="label">Company</p>
    <p class="name">{{vacancy.company}}</p>
  </div>
  <div class="box">
    <p class="label">Location</p>
    <p class="name">{{vacancy.location}}</p>
  </div>
    <div class="box">
    <p class="label">Contract</p>
    <p class="name">{{vacancy.contract}}</p>
  </div>
    <div class="box">
    <p class="label">Salary</p>
    <p class="name">$ {{vacancy.salary}}</p>
  </div>
</div>

<div class="vacancy-container container">
  <main class="content">
    <h2>Description Job</h2>
    <div class="vacancy-description">
      {{{vacancy.description}}}
    </div>

    <a href="/vacancies/edit/{{vacancy.url}}" class="btn btn-blue edit-btn">Edit Vacancy</a>
  </main>
  <aside class="aside">
    <h2>Desired Skills</h2>
    <ul class="skills">
      {{#each vacancy.skills}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </aside>
</div>

<div class="container data-recruiter">
  <div class="send-data">
    <h2>Contact Recruiter</h2>
    <p>Fill out the following form</p>

    <form action="/vacancies/{{vacancy.url}}" method="post" class="default-form" enctype="multipart/form-data">
      <div class="campo">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Name" >
      </div>

      <div class="campo">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Email" >
      </div>

      <div class="campo">
        <label for="cv">CV (PDF)</label>
        <input type="file" name="cv"  >
      </div>

      <div class="campo">
        <input type="submit" value="Send" class="btn btn-green">
      </div>
    </form>
  </div>
  <div class="info-recruiter">
    <h2>Information Recruiter</h2>
    {{#if vacancy.author.name}}
      <div class="box">
        <p class="label">Name</p>
        <p class="name">{{vacancy.author.name}}</p>
      </div>
    {{/if}}
     {{#if vacancy.author.image}}
      <div class="box">
        <p class="label">Image</p>
        <img src="/uploads/profiles/{{vacancy.author.image}}" alt={{vacancy.author.name}} class="admin-profile">
      </div>
    {{/if}}
  </div>
</div>