<div class="content-superior vacancy container">
  <div class="box">
    <p class="label">Company</p>
    <p class="name">{{vacancy.company}}</p>
  </div>
  <div class="box">
    <p class="label">Location</p>
    <p class="name">{{vacancy.location}}</p>
  </div>
    <div class="box">
    <p class="label">Contract</p>
    <p class="name">{{vacancy.contract}}</p>
  </div>
    <div class="box">
    <p class="label">Salary</p>
    <p class="name">$ {{vacancy.salary}}</p>
  </div>
</div>

<div class="vacancy-container container">
  <main class="content">
    <h2>Description Job</h2>
    <div class="vacancy-description">
      {{{vacancy.description}}}
    </div>

    <a href="/vacancies/edit/{{vacancy.url}}" class="btn btn-blue edit-btn">Edit Vacancy</a>
  </main>
  <aside class="aside">
    <h2>Desired Skills</h2>
    <ul class="skills">
      {{#each vacancy.skills}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </aside>
</div>